<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/plugins/datatables/jquery.dataTables.min.css">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <table class="table table-bordered" id="myTable">
      <button class="btn btn-success mb-2 mt-2" data-toggle="modal" data-target="#responsive-modal">Create</button>
      <thead>
        <tr>
          <td>Departmen ID</td>
          <td>Name</td>
          <td>Region</td>
          <td>Action</td>
        </tr>
      </thead>
    </table>
  </div>
  <!-- sample modal content -->
  <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Modal Content is Responsive</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group" hidden>
              <label for="departementId" class="control-label">Id : </label>
              <input class="form-control" id="departmentId">
            </div>
            <div class="form-group">
              <label for="departmentName" class="control-label">Departement:</label>
              <input type="text" class="form-control" id="departmentName">
            </div>
            <div class="form-group">
              <label for="region" class="control-label">Region : </label>
              <select class="form-control" id="region"></select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" onclick="create()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/plugins/jquery/jquery.min.js"></script>
  <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
  <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(() => {
      $("#myTable").DataTable({
        "ajax": {
          url: "api/departments",
          type: "GET",
          dataSrc: ""
        },
        "columnDefs": [
          {
            "targets": [0],
            "visible": false,
            "searchable": false,
          },
          {
            "targets": [3],
            "searchable": false,
            "orderable": false
          }
        ],
        "columns": [
          {
            "data": "id"
          },
          {
            "data": "name"
          },
          {
            "data": "region_id",
            "render": (data, type, full) => {
              return full.region.name;
            }
          },
          {
            "render": (data, type, full, meta) => {
              return `<a data-toggle="modal" data-target="#responsive-modal" onclick="edit(${full.id});"><i class="fa fa-pencil"></i></a> | <a onclick="remove(${full.id})"><i class="fa fa-trash-o"></i></a>`;
            }
          }
        ]
      });
      
      $.ajax({
        url: "api/regions",
        type: "GET",
        contentType: "application/json",
      }).done((regions) => {
        let options = regions.map(region =>
          `<option value="${region.id}">${region.name}</option>`);
        $('#region').append(options);
      }).fail((error) => {
        console.log(error);
      });
    });

    let create = () => {
      let department = {
        id: $("#departmentId").val() || null,
        name: $("#departmentName").val(),
        region_id:$('#region').val()
      };

      $.ajax({
        url: `api/department/save`,
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(department)
      }).done((response) => {
        console.log(response);
        $("#myTable").DataTable().ajax.reload();
      }).fail((error) => {
        console.log(error);
      });
    }

    let edit = (id) => {
      $.ajax({
        url: `api/department/${id}`,
        type: "GET",
        contentType: "application/json",
      }).done((department) => {
        $("#departmentId").val(department.id);
        $("#departmentName").val(department.name);
        $("#region").val(department.region.id);
      }).fail((error) => {
        console.log(error);
      });
    }

    let remove = (id) => {
      $.ajax({
        url: `api/department/delete/${id}`,
        type: "POST",
        contentType: "application/json",
      }).done((response) => {
        console.log(response);
        $("#myTable").DataTable().ajax.reload();
      }).fail((error) => {
        console.log(error);
      });
    }
  </script>
</body>

</html>